.black-bg {
    background: #222222;
    padding-top: 200px;
}

.white-bg {
    background: white;
}

@media (min-width: 768px) {
    .black-bg {
        min-height: 100vh;
        padding-bottom: 20vh;
    }
    .white-bg {
        min-height: 100vh;
        padding-top: 200px;
        padding-bottom: 20vh;
    }
}

input.form-control.grey-input {
    background-color: #F5F5F5;
    color: #858585;
    border: none;
    border-radius: 0px;
    font-family: 'Poppins', sans-serif;    
    padding: 1.5em 0em 2em 1em;
} 

textarea.form-control.grey-input {
    background-color: #F5F5F5;
    color: #858585;
    border: none;
    border-radius: 0px;
    font-family: 'Poppins', sans-serif;    
    padding: 1em 0em 5em 1em;    
    resize: none;
}

.form-header {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
