.black-bg {
    background: #222222;
    padding-top: 200px;
}

.white-bg {
    background: white;
}

@media (min-width: 768px) {
    .black-bg {
        min-height: 100vh;
        padding-bottom: 20vh;
    }
    .white-bg {
        min-height: 100vh;
        padding-top: 200px;
        padding-bottom: 20vh;
    }
}


